<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Hunt</title>
</head>
<body>
  <h1>Nhà tuyển dụng</h1>
  <a href="/employer/add">Thêm nhà tuyển dụng</a><br>
  <a href="/employer/list">Danh sách nhà tuyển dụng</a><br>
  <h1>Việc làm</h1>
  <a href="/job/add">Tạo việc làm</a><br>
  <a href="/job/list">Danh sách việc làm</a>
  <h1>Ứng viên</h1>
  <a href="/applicant/add">Thêm ứng viên</a><br>
  <a href="/applicant/list">Danh sách ứng viên</a>
</body>
</html>