<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>employers</title>
</head>
<body>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Name</th>
            <th scope="col">Photo</th>
            <th scope="col">website</th>
            <th scope="col">email</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="employer, iStat:${employers}">
            <th scope="row" th:text="${iStat.index} +1"></th>
            <td><a th:href="|/employer/${employer.id}|" th:text="${employer.name}"></a><br></td>
            <td><img th:src="|/logo/${employer.logo_path}|" alt="logo" width="50px" height="20px"></td>
            <td><a th:href="${employer.website}" th:text="${employer.website}" target="_blank"></a></td>
            <td th:text="${employer.email}"></td>
          </tr>     
        </tbody>
      </table>
      <button><a href="/employer/add">ADD</a></button>
</body>
</html>