<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 align="center">Thêm công việc</h2>
    <form action="#" th:action="@{/job/add}" th:object="${job}" method="post" name="job" align="center">
        Company:<input type="text" th:field="*{company}"> <br>
       title:<input type="text" th:field="*{title}"> <br>
       description:  <input type="text" th:field="*{description}"> <br>
       city:
       <td><select th:field ="*{city}"><br><br>
        <option value="">-- Select a city --</option>
        <option 
        th:each="ct:${city}" 
        th:text="${ct.label}" 
        th:value="${ct.label}"></option>
      </select>
     </td>
       <a th:href="@{/job}"><button type="button" class="btn btn-primary" style="background-color: red;">Cancel</button></a>
       <a><button type="submit" class="btn btn-primary" style="background-color:green">Save</button></a>
    </form>
</body>
</html>
